.vscode
obj
minishell_tester
libft/printf/*.o
libft/gnl/*.o
libft/*.o

$USER
also
hey
hi
hiii
libft/libft.a
minishell
noread
oat
ohhh
outa
outaaa
outals
outfile
outie
outt
outta
ouutt
pipex_info/
untouchable
